{
  "openapi": "3.1.0",
  "info": {
    "title": "Riggg Frame.io Tools",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://video.riggg.app"
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "summary": "List all projects",
        "operationId": "getProjects",
        "responses": {
          "200": {
            "description": "List of Frame.io projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/folders": {
      "get": {
        "summary": "Get folders in a project",
        "operationId": "getProjectFolders",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of folders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/asset/{asset_id}/hierarchy": {
      "get": {
        "summary": "Get asset metadata and folder path",
        "operationId": "getAssetWithHierarchy",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset details with folder path",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "asset": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "name": { "type": "string" },
                        "type": { "type": "string" },
                        "metadata": { "type": "object" }
                      }
                    },
                    "folderPath": {
                      "type": "array",
                      "items": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "summary": "Search for assets",
        "operationId": "searchAssets",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "team_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" },
                      "type": { "type": "string" },
                      "project_id": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/review-links": {
      "post": {
        "summary": "Create review link for asset(s)",
        "operationId": "createReviewLink",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["asset_ids"],
                "properties": {
                  "asset_ids": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "name": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Review link created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "url": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assets/{asset_id}/presentation": {
      "post": {
        "summary": "Create a presentation link",
        "operationId": "createPresentationLink",
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Presentation link created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "url": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/review-links/list": {
      "get": {
        "summary": "List review links in a project",
        "operationId": "listReviewLinks",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of review links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" },
                      "short_url": { "type": "string" },
                      "item_count": { "type": "integer" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/review-links/search": {
      "get": {
        "summary": "Find a review link for asset by name",
        "operationId": "findAssetReviewLink",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "asset_name",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Review link containing asset (if found)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
