{
  "openapi": "3.1.0",
  "info": {
    "title": "Riggg Frame.io Tools",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://video.riggg.app"
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "summary": "List all projects",
        "operationId": "getProjects",
        "responses": {
          "200": {
            "description": "List of Frame.io projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/folders": {
      "get": {
        "summary": "Get all folders in a project (recursive)",
        "operationId": "getProjectFoldersRecursive",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all folders (including subfolders)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/review-links": {
      "post": {
        "summary": "Create a review link for asset(s)",
        "operationId": "createReviewLink",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string" },
                  "expires_at": { "type": "string", "format": "date-time" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Review link created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "url": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/review-links/list": {
      "get": {
        "summary": "List review links in a project",
        "operationId": "listReviewLinks",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of review links",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" },
                      "short_url": { "type": "string" },
                      "item_count": { "type": "integer" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/review-links/search": {
      "get": {
        "summary": "Find a review link for asset by name",
        "operationId": "findAssetReviewLink",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "asset_name",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Review link containing asset (if found)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/folders": {
      "get": {
        "summary": "Fetch folders for a project",
        "operationId": "getFolders",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the project to fetch folders for"
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to fetch folders recursively"
          }
        ],
        "responses": {
          "200": {
            "description": "List of folders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID of the folder"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the folder"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid project_id"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  }
}
